@import '../../../styles/base';
@import'/src/styles/breakPoint.scss';

.container__filtro {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-top: 32px;

    h4 {
        color: title-color;
        font-family: $font-title;

        font-style: normal;
        font-weight: 500;
        line-height: normal;

    }

    ul {
        display: flex;
        align-items: center;
        height: 100%;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        height: 100%;
        margin-inline: 16px;
        background-color: $blue;
        padding-inline: 15px;
        border-radius: 5px;
        color: $white;
        cursor: pointer;

        &:hover {
            background-color: #3e69df;
        }

        .container__close {
            justify-content: center;
            background-color: $yellow;
            border: solid 1px $title-color;
            width: 20px;
            height: 20px;
            margin-left: 10px;
            margin-top: 0px;
            padding-bottom: 0.125rem;
            text-align: center;
            align-items: center;
            border-radius: 25px;
            display: none;
            transition: all 500ms ease-in-out;

            &--ativo {
                display: flex;
                transition: all 100ms ease-in-out;

                &:hover {
                    background-color: $white;
                    font-weight: 600;
                }

            }
        }
    }
}

@media (min-width: $deskTop-min-width) {
    .container {
        h4 {
            font-size: 1.25rem;
        }
    }
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {}

@media (max-width: $smartphone-max-width) {
    .container {
        h4 {
            font-size: 1rem;
        }
    }
}