.container{
    display: flex;
    flex-direction: column;
    width: calc(100% - 121px);
    align-items: center;
    height: 100%;
    &__menu{
        // background-color: red;
        width: 100%;
        // padding-left: 6.31rem;
        margin-top: 5%;
    }

    &__section {
        width: 100%;
        height: 100%;
        // background-color: greenyellow;
    }
}

