.container{
    display: flex;
    flex-direction: column;
    width: 75rem;
    align-items: center;
    min-height: 100vh;
    // background-color: aqua;
    &__menu{
        // background-color: red;
        height: 100%;
        width: 100%;
        // padding-left: 6.31rem;
        margin-top: 3.94rem;
    }
}

