@import '/src/styles/base';
@import './respAbout.module.scss';


.container {
    display: flex;
   
    width: 100%;
    height: auto;
    margin-bottom: 4rem;
    margin-top: 8rem;
    

    h1 {
        color: $title-color;
        font-family: $font-title;
        
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        
        flex-shrink: 0;
    }
    

    p {
        margin-bottom: 32px;
        
        color: $font-text;
        font-family: $font-title;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .img {
        
        flex-shrink: 0;
        border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
        background-image: url('./sobre.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 5px 5px 15px #aaa6a6b9;
    }

}