@import 'styles/base.scss';

.container{
    width: 55%;
    height: 2.5rem;
    display: flex;
    border-radius: 2.9375rem;
    border: 0.5px solid #FD8A8A;
    // background: rgba(222, 101, 101, 0.586);
    
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        
        
        
    }
    &__link {
        list-style: none;
        a{
            text-decoration: none;
            font-size: 1rem;
            font-family: $font-title;
            font-style: normal;
            font-weight: 400;
            color: $title-color;
            cursor: pointer;
        }
    }
}

