@import 'styles/base.scss';
@import './respMenu.scss';

.container {
    display: flex;
    
    width: 100%;
    height: 2.5rem;
    margin-top: 32px;
//    border-bottom: 0.5px solid #FD8A8A;
//    padding-bottom: 3rem;
    
    

    &__nav {
    
        width: 55%;
        height: 2.5rem;
       
        border-radius: 2.9375rem;
        border: 0.5px solid #FD8A8A;
        
        // background: rgba(222, 101, 101, 0.586);
        
    
        .container__list {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
    
        }
    
        .container__link {
            list-style: none;
    
            a {
                text-decoration: none;
                font-size: 1rem;
                font-family: $font-title;
                font-style: normal;
                font-weight: 300;
                color: $title-color;
                cursor: pointer;
            }
    
        }
    
        .container__highlighted {
            a {
                color: $primary-color;
                font-weight: 500;
                //  font-size: 1.1rem;
            }
        }
    }

    .container__hamburguer {
        z-index: 1;
        // display: none;
        position: absolute;
        backdrop-filter: blur( 3.5px );
        transition: all 300ms ease;
        width: 100%;
        height: 100%;
        transform: translateY(-150vh);
        background-color: red;
        
        
    }
  
    .container__hamburguer--active {
        display: flex;
        transform: translateY(0vh);
        z-index: 1;
        transition: all 700ms ease;
        width: 100%;
        height: 100%;
        
        
    }

    .hamburguer {
        z-index: 2;
        // position: absolute;
        font-size: 2.5rem;
        cursor: pointer;
    }
}