@import 'styles/base.scss';
@import './respMenu.scss';

.container {
    display: flex;
   
    

    &__nav {
       
        height: 2.5rem;
        border-radius: 2.9375rem;
        border: 0.5px solid #FD8A8A;

        .container__list {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;

        }

        .container__link {
            list-style: none;
            a {
                text-decoration: none;
                font-size: 1rem;
                font-family: $font-title;
                font-style: normal;
                font-weight: 300;
                color: $title-color;
                cursor: pointer;
            }

        }

        .container__highlighted {
            a {
                color: $primary-color;
                font-weight: 500;
            }
        }
    }

    .container__hamburguer {
        margin-top: 3.5rem;
        position: fixed;
        width: 0px;
        height: 0px;
        transform: scale(0);
        border: solid 0.5px rgba(99, 99, 99, 0.295);
        border-radius: 10px;
        transition: all 300ms ease-in-out;
        ul {
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all 300ms ease-in-out;
            gap: 1rem;

            .options {
                list-style: none;
                a {
                    font-size: 1rem;
                    text-decoration: none;
                    font-family: $font-title;
                    font-style: normal;
                    font-weight: 400;
                    color: $title-color;
                    display: none;
                }

            }
        }
    }

    .container__hamburguer--active {
        background-color: #f6f6f6;
        margin-top: 3rem;
        padding: 1rem;
        position: fixed;
        transform: scale(1);
        width: 10rem;
        height: 10rem;
        border: solid 0.5px $title-color;
        border-radius: 10px;
        transition: all 300ms ease-in-out;

        ul {
            opacity: 1;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .options {
                list-style: none;
                a {
                    font-size: 1rem;
                    text-decoration: none;
                    font-family: $font-title;
                    font-style: normal;
                    font-weight: 500;
                    color: $title-color;
                    display: flex;
                }
            }
        }
    }

    .hamburguer {
        position: fixed;
        font-size: 2.5rem;
        cursor: pointer;
    }

    .lightMode {
        background-color: aqua;
       
    }
}