@import '/src/styles/breakPoint';


@media screen and (min-width: $deskTop-min-width) {
    .container {
        padding-right: 2rem;
        justify-content: space-between;
        .container__nav {
            display: flex;
        }

        
    }
}

@media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {

}

@media screen and (max-width: $smartphone-max-width) {
    .container {
        justify-content: end;
        .container__nav {
            display: none;
            justify-content: end;
        }
    }
}