.container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-inline: 1rem;

    h1 {
        margin-top: 8rem;
    }
   
    img {
        width: 22rem;
    }
}