@import '/src/styles/base';

.container {
    width: 100%;
    margin-top: 7%;

    // background-color: red;
    h1 {
        color: $title-color;
        font-family: $font-title;
        font-size: 4rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0px;
    }

    p {
        margin-top: 0.19rem;
        width: 36.75rem;
        color: $title-color;
        font-family: $font-title;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        
    }

    &__section {
        width: 100%;
        margin-top: 4.56rem ;
        margin-bottom: 4.56rem ;
        display: flex;
        // background-color: aqua;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 35px;
        
    }

    &__card {
        width: 20.375rem;
        height: 20.5625rem;
        flex-shrink: 0;
        background-color: $primary-color;
        border-radius: 1.5625rem;
        border: 0.2px solid #5c1010;
        
    }

}