//Tamamho de telas
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

$font-title: 'Space Grotesk', sans-serif;


$purple: #894af3;
$yellow: #F2D23C;
$white: #fdfdfd;
$blue : #4272F9;
$title-color: #343434;
$text-color: #4D4D4D;
$highlight-color:#894af3;

// Cores do tema escuro da aplicação

$dark-color: #1E1E2E;             
$dark-contrast: #313244;
$purple-contrast: #CBA6F7;

// Ajuste de telas

$breakin-point-desktop: 1024px;
$breakin-point-tablet: 768px;
$breakin-point-smartphone: 375px;
$breakin-point-mini-smartphone: 320px;        

//Tamanho da fonte





