@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

$font-title: 'Space Grotesk', sans-serif;


$cor-primaria: #FD8A8A;
$cor-secundaria: #A8D1D1;
$cor-terciaria: #F1E0AC; 
$cor-titulo: #343434;

// Cores do tema escuro da aplicação

$cor-tema-escuro: #183153;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           

