@import '../../styles/base.scss';
@import '/src/styles/breakPoint.scss';
@import './respHome.scss';




    .container {

        flex-direction: column;
        
        align-items: center;
        height: 100%;
        margin-bottom: 4rem;
        // background-color: red;



        .container__outlet {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // background-color: green;
            height: 100vh;
            width: 100%;
            margin-bottom: 2rem;


            .content {
                
                justify-content: space-between;

                .container__secundary {
                    display: flex;
                    width: 60%;
                    justify-content: center;
                    flex-direction: column;
                    height: 100%;
                    // background-color: aqua;

                    h1 {
                        color: $title-color;
                        font-family: $font-title;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        margin: 0px;
                    }

                    p {
                        margin-top: 0.19rem;
                        color: $title-color;
                        font-family: Space Grotesk;
                        font-size: 0.875rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }


                }

                .container__imgProfile {
                    width: 30%;
                    height: 100%;
                    // background-color: #FD8A8A;
                    border: solid 0.1px #fd8a8a7e;
                    border-left: solid 0.2px #fdfdfd00;
                    border-radius: 0px 1.25rem 1.25rem 1.25rem;
                    background: url("../../../public/assets/felipe.png");
                    opacity: 0.9;
                    background-position: left;
                    background-repeat: no-repeat;
                    background-size: cover;


                }
            }

            .socialMedia {
                display: flex;
                align-items: center;
                margin-top: 16px;
                border: solid 0.1px #fd8a8a7e;
                border-width: 0px 0px 0.2px 0.2px;
                padding: 1rem;
                border-radius: 0rem 0rem 0rem 1.25rem;

                // background-color: red;
                a {
                    padding-right: 1rem;
                }
            }

        }


    }
