@import '../../styles/base.scss';
@import '/src/styles/breakPoint.scss';
@import './respHome.module.scss';




.container {
    display: flex;
    max-width: 1200px;
    flex-direction: column;
   

    .container__outlet {
        display: flex;
        width: 100%;
        height: 100vh;

        .content {
            display: flex;
            width: 100%;
    
    
   .container__secundary {
                display: flex;
                flex-direction: column;
                justify-content: end;

                h1 {
                    
                    color: $title-color;
                    font-family: $font-title;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin: 0px;
                    width: 100%;
                    
                }

                p {
                    margin-top: 0.19rem;
                    color: $title-color;
                    font-family: Space Grotesk;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    
                }

                &--dark {
                    h1 {
                        color: $white;
                        transition: all 300ms ease-in-out;
                    }

                    p {
                        color: $white;
                        transition: all 300ms ease-in-out;
                    }
                }

            }

            .container__imgProfile {
                border: solid 0.1px $purple;
                border-left: solid 0.2px #fdfdfd00;               
                background: url("../../../public/assets/felipe.png");
                opacity: 0.9;
                background-position: left;
                background-repeat: no-repeat;
                background-size: cover;                
                display: flex;
                align-items: center;

                &--dark {
                    border-color: $purple-contrast;
                    border-left: solid 0.2px #fdfdfd00;
                }
                 
            }
        }

        .socialMedia {
            display: flex;
            align-items: center;
            margin-top: 16px;
            border: solid 0.1px $purple;
            border-width: 0px 0px 0.2px 0.2px;
            padding: 1rem;
            border-radius: 0rem 0rem 0rem 1.25rem;

            a {
                padding-right: 1rem;
            }

            &--dark {
                border: solid 0.1px $purple-contrast;
                border-width: 0px 0px 0.2px 0.2px;
            }
        }

    }

    &--dark {
        background-color: $dark-color;
        transition: all 100ms ease-in-out;
    }
}

