@import '/src/styles/base';

.container {
    width: 100%;
    height: 70%;
    margin-bottom: 64px;
    // background-color: aquamarine;

    &__banner {
        display: flex;
        width: 100%;
        height: 13.375rem;
        margin-top: 4.06rem;
       
        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $font-title;
            color: #ffff;
            border-radius: 25px 0px 0px 0px;
            font-size: 2rem;
            padding: 20px;
            font-weight: 700;
            width: 35%;
            height: 13.375rem;
            margin: 0px;
            flex-shrink: 0;
            background-color: $secondary-color;
        }

        .container__img {
            width: 65%;
            height: 13.375rem;
            background-size: cover;
            background-repeat: no-repeat;
            
        }

    }

    .container__description {
        width: 100%;

        h1 {
            width: 22.1875rem;
            color: #343434;
            margin-top: 4.06rem;
            font-family: Space Grotesk;
            font-size: 2rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        p {
            color: #000;
            font-family: $font-title;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 1rem;
            text-align: justify;
            width: 75%;
        }

        h3 {
            color: #343434;
            font-family: $font-title;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-top: 32px;
        }

        .container__keyWord {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 16px;
            width: 100%;
            // background-color: red;



            h4 {
                width: 25%;
                height: auto;
                border-radius: 5px;
                background: #FD8A8A;
                color: #FFF;
                font-family: Space Grotesk;
                font-size: 1rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 16px;
                text-align: center;
                padding: 10px;
            }

        }

        .container__btn {
            display: flex;
            justify-content: space-between;
            height: 5.125rem;
            flex-shrink: 0;
            margin-top: 82px;
            // background-color: red;

            button {
                width: 13.5rem;
                height: 4.125rem;
                flex-shrink: 0;
                border-radius: 0.625rem;
                border: 1px solid #A8D1D1;
                background: #FFF;
                margin-right: 24px;
                color: #343434;
                font-family: Space Grotesk;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                cursor: pointer;

                &:hover {
                    background-color: $secondary-color;
                    color: #fdfdfd;
                    transition: all 200ms ease-in-out;

                }

                &:active {
                    transform: scale(0.92);
                    transition: all 100ms ease-out;
                }

            }

            .toGoBack {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 6rem;
                
            }
            .toGo {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 6rem;
                margin-right: 0px;
                
            }
            .container__btns {
                display: flex;
                justify-content: end;
                height: 100%;
            }
            
        }
    }
}