@import '/src/styles/base';
@import './respCard.scss';

.container {
    height: 70%;

    &__banner {
        display: flex;
        margin-top: 4.06rem;

        h1 {
            font-family: $font-title;
            color: #ffff;
            font-weight: 700;
            margin: 0px;
            flex-shrink: 0;
            background: #4af3c0;

        }

        .title {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: auto;
            height: 100%;
            background-color: red;

            .container__btn {

                button {
                    width: 8.9375rem;
                    height: 3.5rem;
                    flex-shrink: 0;
                    border-radius: 0.625rem;
                    background: $primary-color;
                    margin-right: 24px;
                    color: #343434;
                    font-family: Space Grotesk;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    cursor: pointer;

                    &:hover {
                        background-color: $secondary-color;
                        color: #fdfdfd;
                        transition: all 200ms ease-in-out;

                    }

                    &:active {
                        transform: scale(0.92);
                        transition: all 100ms ease-out;
                    }

                }


                .container__btns {
                    display: flex;
                    justify-content: end;
                    height: 100%;

                    .toGoBack {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 6rem;

                    }

                    .toGo {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 6rem;
                        margin-right: 0px;

                    }
                }

            }
        }

        .container__img {

            background-size: cover;
            background-repeat: no-repeat;

        }

    }

    .container__description {
        width: 100%;

        h1 {
            width: 22.1875rem;
            color: #343434;
            margin-top: 4.06rem;
            font-family: Space Grotesk;
            font-size: 2rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        p {
            color: $color-text;
            font-family: $font-title;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 1rem;
            text-align: justify;

        }

        h3 {
            color: $title-color;
            font-family: $font-title;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-top: 32px;
        }

        .container__keyWord {
            display: flex;


            margin-top: 16px;
            width: 100%;
            // background-color: red;



            h4 {

                height: auto;
                border-radius: 5px;
                background: $primary-color;
                color: #FFF;
                font-family: Space Grotesk;
                font-size: 1rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 16px;
                text-align: center;
                padding: 10px;
            }

        }


    }
}