@import '/src/styles/breakPoint.scss';

@media (min-width: $deskTop-min-width) {
    .container {
        margin-bottom: 64px;
        margin-top: 8rem;
        width: 100%;

        &__banner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2rem 2rem;
            width: 100%;
            height: 13.375rem;
            background-color: $purple;
            border-radius: 16px;

            .title {
                .container__btn {
                    min-width: 10.875rem;

                    button {
                        margin-right: 1rem;
                        width: 8.9375rem;
                        height: 3.5rem;
                        font-size: 1rem;
                    }
                }
            }

            .container__img {
                width: 345px;
                height: 152px;
                border-radius: 16px;
            }
        }

        .container__btns {
            justify-content: start;
        }

        &__description {
            p {
                width: 75%;
            }

            .container__keyWord {
                justify-content: space-between;
                flex-direction: column;

                h4 {
                    width: 25%;
                }
            }
        }
    }
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    .container {
        margin-top: 6rem;
        width: 100%;
        padding-inline: 1rem;

        &__banner {
            flex-grow: 1;
            justify-content: space-between;
            height: 9.4375rem;
            align-items: center;
            border-radius: 1rem;
            padding: 0.94rem 2rem;

            .title {
                min-width: 175px;

                h1 {
                    font-size: 1.5rem;
                }

                .container__btn {
                    height: 3.125rem;
                    width: 100%;
                    max-width: 10.875rem;
                    display: flex;
                    justify-content: space-between;

                    button {
                        font-size: 0.6rem;
                        width: 4.75rem;
                        height: 3.125rem;
                        margin-right: 0.5rem;
                    }
                }
            }

            .container__img {
                width: 14.5625rem;
                height: 7.5rem;
                border-radius: 1rem 1rem 1rem 1rem;
            }
        }

        .container__btns {
            justify-content: space-between;
        }

        &__description {
            p {
                width: 100%;
            }

            .container__keyWord {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 1rem;

                h4 {
                    flex-grow: 1;
                    flex-basis: 200px;
                }
            }
        }

    }
}

@media (max-width: $smartphone-max-width) {
    .container {
        margin-top: 6rem;
        width: 100%;
        padding-inline: 1rem;

        &__banner {
            flex-grow: 1;
            background-color: #894AF3;
            justify-content: space-between;
            flex-grow: 1;
            height: 9.4375rem;
            align-items: center;
            border-radius: 1rem;
            padding: 0.94rem 1rem;

            .title {
                min-width: 175px;

                h1 {
                    font-size: 1.3rem;
                }

                .container__btn {
                    height: 3.125rem;
                    width: 100%;
                    max-width: 10.875rem;
                    display: flex;
                    justify-content: space-between;

                    button {
                        font-size: 0.6rem;
                        width: 4.75rem;
                        height: 3.125rem;
                        margin-right: 0.5rem;
                    }
                }
            }

            .container__img {
                width: 9.5625rem;
                flex-basis: 14.5625rem;
                ;
                height: 7.5rem;
                border-radius: 1rem 1rem 1rem 1rem;
            }
        }

        .container__btns {
            justify-content: space-between;
        }

        &__description {
            p {
                width: 100%;
            }

            .container__keyWord {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 1rem;

                h4 {
                    flex-grow: 1;
                    flex-basis: 200px;
                }
            }
        }

    }

}