@import '/src/styles/base';
@import './respProjects.scss';

.container {
    margin-top: 32px;
    margin-top: 8rem;

    h1 {
        color: $title-color;
        font-family: $font-title;
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0px;
    }

    p {
        margin-top: 0.19rem;
        color: $title-color;
        font-family: $font-title;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

    &__section {
        width: 100%;
        margin-top: 64px;
        margin-bottom: 72.96px;
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
        transition: all 400ms ease-out;
        &:hover > :not(:hover){
            transform: scale(0.9);
            transition: all 300ms ease-in-out;
            opacity: 0.5;
            
        }
    }

    &__card {
        display: flex;
        align-items: center;
        padding: 15px;
        flex-shrink: 0;
        box-sizing: border-box;
        border-radius: 1rem;
        border: 1px solid rgba(167, 167, 167, 0.497);
        transition: all 200ms ease-out;
        cursor: pointer;
        background-color: #F5F5F5;
        &:hover {
            background-color: $secondary-color;
        }
        .container__img {
            
            img {
                border-radius: 1rem;
            }
        }

        .container__description {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p {
                color: $title-color;
                font-family: $font-title;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                width: 100%;
            }
            
        }

    }

}