@import '/src/styles/base';
@import './respProjects.scss';

.container {
    margin-top: 32px;
    margin-top: 8rem;


    .container__title {
        &--dark {
            color: $white;
             p {
                color: $white;
             }
        }
    }
    
    p {
        margin-top: 0.19rem;
        color: $title-color;
        font-family: $font-title;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

   

    &__card {
        display: flex;
        align-items: center;
        padding: 15px;
        flex-shrink: 0;
        box-sizing: border-box;
        border-radius: 1rem;
        border: 1px solid rgba(167, 167, 167, 0.497);
        transition: all 200ms ease-out;
        background-color: #F5F5F5;
        box-shadow: 1px 1px 5px #3d3d3d1f;
        &:hover {
            background-color: $yellow;
        }
        .container__img {
            
            img {
                border-radius: 1rem;
            }
        }

        .container__description {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p {
                color: $title-color;
                font-family: $font-title;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                width: 100%;
            }
            
        }

    }

   

}

.container--dark {
    p {
        color: $white;
    }

    .container__card{
        background-color: $dark-contrast;
        border: 1px solid $purple-contrast;

        .container__description { 
            a {
                background-color: $purple;
                border-radius: 1.5625rem;
                // border: 0.1px solid #F5F5F5;
            }
        }
    }
}