@import '/src/styles/base';
@import './respFooter.scss';

.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 15%;
    flex-shrink: 0;
   
    &__footer {
        flex-direction: column;
        display: flex;
        justify-content: start;
       
        max-width: 1200px;
        // background-color: greenyellow;
        p {
            padding-bottom: 1rem;
            color: $title-color;
        }
        a {
            margin-right: 1rem;
        }
        .footer {
            display: flex;
            justify-content: space-between;
            width: 11%;
            // background-color: red;
        }
    }
}