@import '/src/styles/breakPoint.scss';
@import '/src/styles/base';


@media screen and (min-width: $deskTop-min-width) {
    .container {
        background-color: $primary-color;
        &__footer {
            font-size: 0.75rem;
            width: calc(100% - 121px);
        }
    }
}

@media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    .container {
        background-color:  $primary-color;
        &__footer {
            font-size: 0.75rem;
            width: 100%;
            padding: 2rem;
        }
    }
}

@media screen and (max-width: $smartphone-max-width) {
    .container {
        background-color:  $primary-color;
        &__footer {
            font-size: 0.75rem;
            width: 100%;
            padding: 2rem;
        }
    }
}
