@import './styles/base.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color:transparent;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

h1{
  font-family: $font-title;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  
}

// #root {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-end;
//   background-color: aqua;
// }

#root > main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  // height: 100vh;

  background-color: transparent;
}
